<%- include('../../../partials/header'); %>
<%- include('../../../partials/navbar'); %>

<div class="container mt-2">

    <div class="card ">

        <div class="card-header ">
            <h1>Nova Ocorrência</h1>
        </div>

        <div class="card-body">
            <form action="/historico/cadastro/salvar" method="POST" >

                <!-- INPUT TEXT -->
                <label for="descricao" class="mt-2">Modelo</label>
                <select name="modelo" class="form-select" id="inputGroupSelect01">
                    <option selected></option>
                    <% modelos.forEach(modelo=>{ %>
                        <option value="<%=modelo.nomeModelo%>"><%= modelo.nomeModelo %></option>
                    <% }) %>                    
                </select>
                
                <label for="modificacao" class="mt-2">Tipo de defeito</label>
                <select name="defeito" class="form-select" id="inputGroupSelect01">
                    <option selected></option>
                    
                    <% defeitos.forEach(defeito=>{ %>
                        <option value="<%=defeito.nomeDefeito%>"><%= defeito.nomeDefeito %></option>
                    <% }) %>

                </select>

                <div class="row mt-2">
                    
                    <div class="col">
                        <label for="codigoDoPrograma" >Origem do defeito</label>
                        <select name="origem" class="form-select" id="inputGroupSelect01">
                            <option selected></option>
                            <option value="SMT">SMT</option>
                            <option value="TESTE">TESTE</option>
                            <option value="IMC">IMC</option>
                            <option value="MATERIAL">MATERIAL</option>
                        </select>    
                    </div>

                    <div class="col">
                        <label for="lado" >Lado da placa</label>
                        <select name="lado" class="form-select" id="inputGroupSelect01">
                            <option selected></option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                        </select>
                    </div>

                </div>
                
                <div class="col mt-2">
                    <label for="exampleFormControlTextarea1" class="form-label">Comentários</label>
                    <textarea name="comentario" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>                        
                </div>

                <div class="col">
                    <label for="stencilId" ">Possíveis Causas</label>
                    <input name="causa" type="text" name="stencilId" required  class="form-control">        
                </div>

                <div class="col">
                    <label for="exampleFormControlTextarea1" class="form-label">Ações</label>
                    <textarea name="acao" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                </div>

                <button type="submit" class="btn btn-primary mt-3 form-control"> Cadastrar </button>

            </form>
        </div>
    </div>
</div>

<%- include('../../../partials/footer'); %>