<%- include('../../../partials/header'); %>
<%- include('../../../partials/navbar'); %>

<div class="container mt-2">

    <div class="card ">

        <div class="card-header ">
            <h1>Nova Ocorrência</h1>
        </div>

        <div class="card-body">
            <form action="/historico/salvar" method="POST" >

                <!-- INPUT TEXT -->
                <label for="descricao" class="mt-2">Modelo</label>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected></option>
                    <!-- <% defeitos.forEach(defeito=>{ %>
                        <option value="<%=defeito.id%>"><%= defeito.nomeDefeito %></option>
                    <% }) %> -->
                </select>
                
                <label for="modificacao" class="mt-2">Tipo de defeito</label>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected></option>
                    
                    <% defeitos.forEach(defeito=>{ %>
                        <option value="<%=defeito.id%>"><%= defeito.nomeDefeito %></option>
                    <% }) %>

                </select>

                <div class="row mt-2">
                    
                    <div class="col">
                        <label for="codigoDoPrograma" >Origem do defeito</label>
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected></option>
                            <option value="1">SMT</option>
                            <option value="2">Teste</option>
                            <option value="3">IMC</option>
                            <option value="4">Material</option>
                        </select>    
                    </div>

                    <div class="col">
                        <label for="lado" >Lado da placa</label>
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected></option>
                            <option value="1">A</option>
                            <option value="2">B</option>
                        </select>
                    </div>

                </div>
                
                <div class="col mt-2">
                    <label for="exampleFormControlTextarea1" class="form-label">Comentários</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>                        
                </div>

                <div class="col">
                    <label for="stencilId" ">Possíveis Causas</label>
                    <input type="text" name="stencilId" required  class="form-control">        
                </div>

                <div class="col">
                    <label for="exampleFormControlTextarea1" class="form-label">Ações</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                </div>

                <button type="submit" class="btn btn-primary mt-3 form-control"> Cadastrar </button>

            </form>
        </div>
    </div>
</div>

<%- include('../../../partials/footer'); %>