<%- include('../../../partials/header'); %>
<%- include('../../../partials/navbar'); %>

<div class="container mt-2">
    
    <div class="card ">
        
        <div class="card-header ">
            <h1>Edição de Ocorrência</h1>
        </div>
        
        <div class="card-body">
            <form action="/historico/editar/salvar" method="POST" >
                
                <input type="hidden" name="id" value="<%=ocorrencia.id%>">

                <label for="modelo" class="mt-2">Modelo</label>
                <input type="text" name="modelo" value="<%=ocorrencia.modelo%>" class="form-control">
                
                <label for="defeito" class="mt-2">Tipo de defeito</label>
                <input type="text" name="defeito" value="<%=ocorrencia.defeito%>" class="form-control">

                <div class="row mt-2">
                    <div class="col">
                        <label for="origem" class="mt-2">Origem</label>
                        <input type="text" name="origem" value="<%=ocorrencia.origem%>" class="form-control">
                    </div>

                    <div class="col">
                        <label for="lado" class="mt-2">Lado</label>
                        <input type="text" name="lado" value="<%=ocorrencia.lado%>" class="form-control">
                    </div>
                </div>
                
                <div class="col mt-2">
                    <label for="comentario" class="form-label">Comentários</label>
                    <textarea name="comentario" class="form-control" rows="2" ><%=ocorrencia.comentario%></textarea>                        
                </div>

                <div class="col">
                    <label for="causa" ">Possíveis Causas</label>
                    <input name="causa" type="text" name="causa" required  class="form-control" value="<%=ocorrencia.causa%>">
                </div>

                <div class="col">
                    <label for="acao" class="form-label">Ações</label>
                    <textarea name="acao" class="form-control" rows="2"><%=ocorrencia.acao%></textarea>
                </div>

                <button type="submit" class="btn btn-primary mt-3 form-control"> Atualizar </button>

            </form>
            <form action="/historico/deletar" method="post">
                <input type="hidden" name="id" value="<%=ocorrencia.id%>">
                <button type="submit" class="btn btn-danger mt-3 form-control"> Deletar </button>
            </form>
        </div>
    </div>
</div>

<%- include('../../../partials/footer'); %>