<%- include('../../../../partials/header'); %>
<%- include('../../../../partials/navbar'); %>

<div class="container mt-2">
    
    <div class="card ">
        
        <div class="card-header ">
            <h1>Editar Defeito</h1>
        </div>
        
        <div class="card-body">
            
            <form action="/historico/defeito/editar/salvar" method="POST" >
                <input type="hidden" name="id" value="<%=defeito.id%>">
                
                <label for="nomeDefeito" class="mt-2">Defeito</label>
                <input type="text" name="nomeDefeito" required  placeholder="Digite o nome do defeito" class="form-control" required value="<%= defeito.nomeDefeito %>">
                                        
                <label for="descricaoDefeito" class="form-label mt-2">Descrição</label>
                <textarea class="form-control" name="descricaoDefeito" id="descricaoDefeito" rows="3" placeholder="Descreva o defeito" required><%= defeito.descricaoDefeito %></textarea>

                <button type="submit" class="btn btn-primary mt-3 form-control"> Atualizar </button>
            </form>

            <form action="/historico/defeito/deletar" method="post">
                <input type="hidden" name="id" value="<%=defeito.id%>">
                <input type="hidden" name="nomeDefeito" value="<%=defeito.nomeDefeito%>">
                <button type="submit" class="btn btn-danger mt-3 form-control"> Deletar </button>
            </form>

        </div>
    </div>
</div>

<%- include('../../../../partials/footer'); %>