<%- include('../../../partials/header'); %>
<%- include('../../../partials/navbar'); %>

<% if(message.length != 0){ %>
          
    <div class="container mt-2">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <p><%= message %></p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

<% } %>
<% if(msg_erro.length != 0){ %>
          
    <div class="container mt-2">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p><%= msg_erro %></p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

<% } %>
<% if(msg_success.length != 0){ %>
          
    <div class="container mt-2">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <p><%= msg_success %></p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

<% } %>

<div class="container mt-3">

    <h1>Lista de Stencils</h1>

    <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descrição</th>
            <th scope="col">Programa</th>
            <th scope="col">ID</th>
            <th scope="col">MF</th>
            <th scope="col">Modificação</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>

    <% stencils.forEach(stencil => { %>
        
        <tbody>
            <tr>
              <th scope="row"><%= stencil.id %></th>
              <td><%= stencil.descricao %></td>
              <td><%= stencil.codigoDoPrograma %>XX<%=stencil.lado%><%=stencil.revisaoSerie%>XX</td>
              <td><%= stencil.stencilId %></td>
              <td><%= stencil.mf %></td>
              <td><p class="limitador"><%= stencil.modificacao %></p></td>

              <form action="/stencil/lista/editar" method="POST">
                <td><button type="submit" class="btn btn-warning">Editar</button></td>
              </form>
              
              <form action="/stencil/lista/deletar" method="POST" onsubmit="deleteConfirm(event, this)">
                
                <input type="hidden" name="id" value="<%= stencil.id %>">
                <input type="hidden" name="descricao" value="<%= stencil.descricao %>">
                
                <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Deletar</button></td>

                <%- include('../../../partials/modal'); %>

              </form>
              
            </tr>
        </tbody>

    <% }) %>

</div>



<%- include('../../../partials/footer'); %>
